.content-header {
    display: none;
}
.jumbotron {
    background: url('../images/admin_banner.png') center center no-repeat;
    background-size: cover;
    color: #fff;
}
.site-index {
    max-width: 1000px;
}
.content {
    background-color: rgb(53,64,69);
    border-left: 1px solid #514f4f;
    min-height: calc(100vh - 100px) !important;
}
